body {
    background:#222;
    color:#aaa;
    font-family:sans-serif;
}
button {
    background: rgb(181,189,200);
    background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
    background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    border:1px solid rgb(40,52,59);
    border-radius:5px;
    color:#ccc;
    text-shadow:0 0 1px #000;
}
#wrapper {
    background:#000;
    border:1px solid #000;
    border-radius: 10px 10px 0 0;
    box-shadow:0 0 15px #555;
    margin:1em;
    min-height:100%;
}
header {
    font-size:1.3em;
}
