{% extends "base.html" %}

{% block title %}Server Error - Spikizi!{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#999;
    left:0px;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">Server Error</div>
</div>
</header>

<main>
<p>An unexpected server error occurred.</p>
<p>Please try again later.</p>
</main>

<footer>
</footer>
{% endblock %}
