{% extends "base.html" %}

{% block title %}About Spikizi{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    height:2em;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#ccc;
    left:0px;
    line-height:2em;
    position:absolute;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
    width:100%;
}
.wrap {
    padding:10px;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">About Spikizi</div>
</div>
</header>

<main>
    <div class="wrap">
        <p><strong><em>Spikizi</em></strong> (say, "speak easy") is a place for you to
        find people who speak the same languages you do.</p>
        <p>Who it's for:</p>
        <ul>
            <li>Expats and immigrants who miss the sound of their homeland...</li>
            <li>Language learners looking for people to practice with...</li>
            <li>Travelers who need a tour guide...</li>
            <li>Anyone who wants to find someone else to speak to!</li>
        </ul>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Find foreign language speakers near you!" data-via="yearlyglot" data-hashtags="spikizi">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="bubble"></div>
<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class="fb-like" data-href="http://www.spikizi.com/" data-send="false" data-layout="button_count" data-width="300" data-show-faces="false"></div>
    </div>
</main>

<footer>
</footer>
{% endblock %}
