{% extends "base.html" %}

{% block title %}FirefoxOS App{% endblock %}
{% block bodyclass %}wide{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    height:2em;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#ccc;
    left:0px;
    line-height:2em;
    position:absolute;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
    width:100%;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">FirefoxOS App</div>
</div>
</header>

<main>
<div style="text-align:center">
    <h3>Coming soon...</h3>
    <img src="{{ STATIC_URL }}images/spikizi-firefoxos.png">
    <br>
    <p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Spikizi for FirefoxOS - find foreign language speakers near you!" data-via="yearlyglot" data-hashtags="spikizi">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="bubble"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class="fb-like" data-href="http://www.spikizi.com/" data-send="false" data-layout="button_count" data-width="300" data-show-faces="false"></div>
    </p>
</div>
</main>

<footer>
</footer>
{% endblock %}
