<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>{% block title% %}Spikizi!{% endblock %}</title>
{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/mns.css">
{% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/lib/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="sidenav">
    <nav>
    <a class="nav navsearch" href="{% url search %}"><span class="image"></span><span class="label">Search</span></a>
    <a class="nav navprofile" href="{% url profile %}"><span class="image"></span><span class="label">Profile</span></a>
    <a class="nav navcontacts" href="{% url contacts %}"><span class="image"></span><span class="label">Contacts</span></a>
    <a class="nav navsettings" href="{% url settings %}"><span class="image"></span><span class="label">Settings</span></a>
    </nav>
    <h3 class="notify_heading">Notifications</h3>
    <ul class="notifications">
        {% for n in notifications %}
        <li><a href="{% url notifications %}">{{ n.text }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="body_wrapper">
    <a class="draghandle" href="#"></a>
{% block body %}{% endblock %}
</div>
<script src="{{ STATIC_URL }}scripts/mns.js" type="text/javascript"></script>
{% block scripts %}{% endblock %}
</body>
</html>
