<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>{% block title% %}Spikizi!{% endblock %}</title>
{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mns.css">
{% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
</head>

<body>
<div id="sidenav">
    <nav>
    <a id="navsearch" class="nav" href="{% url search %}"><span class="image"></span><span class="label">Search</span></a>
    <a id="navprofile" class="nav" href="{% url profile %}"><span class="image"></span><span class="label">Profile</span></a>
    <a id="navcontacts" class="nav" href="{% url contacts %}"><span class="image"></span><span class="label">Contacts</span></a>
    <a id="navsettings" class="nav" href="{% url settings %}"><span class="image"></span><span class="label">Settings</span></a>
    </nav>
    <h3 class="notify_heading">Notifications</h3>
    <ul id="notifications">
        {% for n in notifications %}
        <li><a href="{% url notifications %}">{{ n.text }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="wrapper">
    <a id="draghandle" href="#"></a>
    {% comment %}
<script>
$('#draghandle').click( function(event){
    event.preventDefault();
    $('#sidenav').scrollTop(0);
    $('body').toggleClass('navopen');
});
$('#sidenav a.nav').click( function(event){
    $('body').removeClass('navopen');
});
</script>
{% endcomment %}
{% block body %}{% endblock %}
</div>
<script src="{{ STATIC_URL }}mns.js" type="text/javascript"></script>
{% block scripts %}{% endblock %}
</body>
</html>
