{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    height:2em;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#ccc;
    left:0px;
    line-height:2em;
    position:absolute;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
    width:100%;
}
.wrap {
    padding:10px;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">Feedback</div>
</div>
</header>

<main>
<div class="wrap">
    <h3>Beta</h3>
    <p>Spikizi is still in beta. Some features may not be complete yet, and some
    things may not work as expected. If you have a suggestion to improve the site,
    or want to report a bug, please let me know!</p>

    <h3>Send feedback</h3>
    <p>You can contact me by sending an email to
    <a href="mailto:yearlyglot@gmail.com">yearlyglot@gmail.com</a>.</p>

    <h3>Open source</h3>
    <p>The Spikizi web site is open source! If you see a bug you want to fix, feel free
    to fork <a href="https://github.com/letsgetrandy/meetnspeak/">the GitHub project</a>
    and submit a pull request.</p>
</div>
</main>

<footer>
</footer>
{% endblock %}

