{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.image {
    background-color:#fff;
    background-image:url({{ STATIC_URL }}images/users/{{ user.photo }}-100.jpg);
    background-repeat:no-repeat;
}
.me .image {
    background-image:url({{ STATIC_URL }}images/users/{{ profile.photo }}-100.jpg);
}
.msgform {
    padding-left:110px;
}
.msgform textarea {
    min-width:200px
}
</style>
{% endblock %}

{% block body %}
<a id="profile" class="title_link" href="{% url user 4 %}">Profile</a>
<header class="min">
<div class="head">
    <div class="content">Messages</div>
</div>
</header>

<main>
<ul class="message_list">
    {% for m in messages %}
    <li class="message {% if m.sender == profile.id %}me{% endif %}">
        <div class="image"></div>
        <p>{{ m.text }}</p>
    </li>
    {% endfor %}
</ul>
<form method="post" class="msgform">
    {% csrf_token %}
    <div>Message</div>
    <textarea name="message" rows="10" cols="80"></textarea>
    <div>
        <button class="action">Send Message</button>
    </div>
</form>
</main>

<footer>
</footer>
{% endblock %}
