{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#999;
    left:0px;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
}
main {
    padding:1em;
}
#map_canvas {
    height:300px;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">Search</div>
</div>
</header>

<main>
<div class="split">
    <div id="map_canvas"></div>
    <div id="listing">
        <div class="field"><button class="search" style="display:none;">Search</button></div>
        <ul id="results">
        </ul>
    </div>
</div>
</main>

<footer>
</footer>
{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true" type="text/javascript"></script>
{{ block.super }}
<script>

function add_result(user) {
    var myLatLng = new google.maps.LatLng(user.lat, user.lng);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: mg.map,
        title: user.name
    });
    $('#results').append('<li>' + user.name + '</li>');
}
function do_search(position) {
    $('#results').find('li').remove();
    $.ajax({
        async: true,
        data: {
            pos: position.lat + "," + position.lng,
            langs:['EN','SP']
            },
        type: 'GET',
        url: '{% url search-ajax %}'
    }).done(function(data) {
        for (var i=0; i<data.results.length; i++) {
            add_result(data.results[i]);
        }
    }).fail(function(xhr){
        //
        console.log(xhr);
    }).always(function(){
        //
        //console.log('always');
        $("#listing button.search").hide();
    });
}

var loc = {lat:'', lng:''},
    mg = new mns.MapGeo({
        mapdiv: 'map_canvas',
        on_maps_init: function() {
            {% if profile.location %}
            var p = '{{ profile.location }}'.split(',');
            loc.lat = p[0];
            loc.lng = p[1];
            mg.center(loc);
            do_search(loc);
            {% endif %}
            $("#listing button.search").show();
        },
        on_geo: function(position) {
                do_search(position);
                $('button.search').prop('disabled',false).click(function(event) {
                    do_search(position);
                });
            }
    });
{% if not profile.location %}
$("#listing button.search").show();
mg.init_geo();
{% endif %}
$("#listing button.search").click(function(event){
    do_search(loc);
});
</script>
{% endblock %}
