{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#999;
    left:0px;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
}
main {
    padding:1em;
}
#map_canvas {
    height:300px;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">Search</div>
</div>
</header>

<main>
<div class="split">
    <div id="map_canvas"></div>
    <div id="listing">
        <ul>
            <li>blah </li>
            <li>blah </li>
            <li>blah </li>
        </ul>
    </div>
</div>
</main>

<footer>
</footer>
{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true" type="text/javascript"></script>
<script src="{{ STATIC_URL }}mns.js" type="text/javascript"></script>
{% endblock %}
