{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#999;
    left:0px;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
}
</style>
{% endblock %}

{% block body %}
<header>
<div class="head">
    <div class="content">Search</div>
</div>
</header>

<main>
<div class="split">
    <div id="map">
        <img src="{{ STATIC_URL }}gmap.gif"><br>
    </div>
    <div id="listing">
        <ul>
            <li>blah </li>
            <li>blah </li>
            <li>blah </li>
        </ul>
    </div>
</div>
</main>

<footer>
</footer>
{% endblock %}
