{% extends "base.html" %}

{% block title %}Settings - Spikizi!{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#999;
    left:0px;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
}
@media screen and (max-width:640px) {
    #logout {
        color:#ccc;
        font-weight:100;
        position:absolute;
        right:10px;
        text-decoration:none;
        top:10px;
        z-index:2;
    }
}
</style>
{% endblock %}

{% block body %}
<a id="logout" href="{% url logout %}">Logout</a>
<header>
<div class="head">
    <div class="content">Settings</div>
</div>
</header>

<main>
<form>
    <div class="field">
        <label>Update your email address</label>
        <input type="email" name="email" autocomplete="off">
    </div>
    <div class="field">
        <label>Change your password</label>
        <input type="password" name="password" autocomplete="off">
    </div>
    <div class="field">
        <label>Auto-update location</label>
        <div class="switch">
            <input type="radio" name="autoupdate" value="0" class="off" id="auto_no">
            <label for="auto_no"></label>
            <input type="radio" name="autoupdate" value="1" class="on" id="auto_yes">
            <label for="auto_yes"></label>
            <div class="indicator"></div>
        </div>
    </div>
    <div class="field">
        <button type="submit">Update</button>
    </div>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="field">
    <button>Cancel your account</button>
</div>
</main>

<footer>
</footer>
{% endblock %}
