{% extends "base.html" %}

{% block title %}Settings - Spikizi!{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
.head .content {
    color:#999;
    left:0px;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0px;
}
main > form {
    margin:1em;
}
@media screen and (max-width:640px) {
    #logout {
        color:#ccc;
        font-weight:100;
        position:absolute;
        right:10px;
        text-decoration:none;
        top:10px;
        z-index:2;
    }
}
</style>
{% endblock %}

{% block body %}
<a id="logout" class="title_link" href="{% url logout %}">Logout</a>
<header>
<div class="head">
    <div class="content">Settings</div>
</div>
</header>

<main>
<form>
    <div class="split">
        <div class="field">
            <label>Auto-update location</label>
            <div class="switch">
                <input type="radio" name="autoupdate" value="0" class="off" id="auto_off" {% if not autolocation %}checked{% endif %}>
                <input type="radio" name="autoupdate" value="1" class="on" id="auto_on" {% if autolocation %}checked{% endif %}>
                <div class="slide">
                    <label for="auto_off">On</label>
                    <div class="indicator"></div>
                    <label for="auto_on">Off</label>
                </div>
            </div>
        </div>
        <div class="caption">Use this setting to automatically update your location every
            time you log in.</div>
    </div>
    <div class="split">
        <div class="field">
            <label>Update your email address</label>
            <input type="email" name="email" autocomplete="off">
        </div>
        <div class="caption">This is the email address you will use to log in.</div>
    </div>
    <div class="split">
        <div class="field">
            <label>Change your password</label>
            <input type="password" name="password" autocomplete="off">
        </div>
        <div class="caption">Passwords are case sensitive.</div>
    </div>
    <div class="split">
        <div class="field">
            <button type="submit">Update</button>
        </div>
        <div class="caption">
        </div>
    </div>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="field">
    <button>Cancel your account</button>
</div>
</main>

<footer>
</footer>
{% endblock %}
