{% extends "base.html" %}

{% block title %}{{ profile.name }} - Spikizi!{% endblock %}

{% block styles %}
{{ block.super }}
<style>
main {
    padding:10px;
}
.split > .profile {
    margin-bottom:60px;
}
.mapdiv {
    text-align:right;
}
ul.languages {
    margin:0;
    padding:0;
    list-style-type:none;
}
ul.languages li {
    margin:0;
    padding:0;
}
@media screen and (max-width:900px) {
    .mapdiv {
        text-align:center;
    }
}
</style>
{% endblock %}

{% block body %}
<a id="messages" class="title_link" href="{% url messages 4 %}">Messages</a>
<header class="profile">
<div class="head">
    <div class="blur">
    </div>
    <div class="content">{{ profile.name }}</div>
    <div class="band">
        <div class="left">{{ profile.age }} years old</div>
        <div class="right">{{ profile.hometown }}</div>
    </div>
    <div class="image">
        <img src="{{ STATIC_URL }}trump.jpg">
    </div>
</div>
</header>

<main>
<div class="split">
    <div class="profile">
        <strong>Speaks:</strong>
        <ul class="languages">
            {% for l in profile.languages %}
            <li>{{ l.name }} <em>{{ l.level }}</em></li>
            {% endfor %}
        </ul>
    </div>
    <div class="mapdiv">
        <img src="{{ STATIC_URL }}gmap.gif">
    </div>
</div>
</main>

<footer>
</footer>
{% endblock %}
