.uisprite {
    background-image:url(../images/uisprite.png);
    background-repeat:no-repeat;
}

body {
    background:#222;
    color:#aaa;
    font-family:sans-serif;
}
button {
    background: #f0f0f0;
    background: -o-linear-gradient(top, #fff, #f0f0f0 36%, #dadada);
    background: -ms-linear-gradient(top, #fff, #f0f0f0 36%, #dadada);
    background: -moz-linear-gradient(top, #fff, #f0f0f0 36%, #dadada);
    background: -webkit-linear-gradient(top, #fff, #f0f0f0 36%, #dadada);
    background: linear-gradient(to bottom, #fff, #f0f0f0 36%, #dadada);
    border:1px solid rgb(40,52,59);
    border-radius:5px;
    color:#333;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#dadada)";
    /*text-shadow:0 0 1px #000;*/
}
.body_wrapper {
    background:#000;
    border:1px solid #000;
    border-radius: 10px 10px 0 0;
    box-shadow:0 0 15px #555;
    margin:1em;
    min-height:100%;
}
header {
    font-size:1.3em;
}


header.min .head {
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
header.min .head .content {
    color:#999;
    left:0;
    line-height:2em;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0;
}

main {
    background:url(../images/black-tile.jpg);
    border: 1px solid #222;
    border-width:1px 0;
    box-shadow:0 0 10px #333;
    display:block;
    min-height:280px;
}


/* profile header */

header.profile .stuff {
    color:#fc5;
    display:none;
}
header.profile .stuff::before {
    border-radius:50%;
    background:#59c;
    content:' ';
    display:inline-block;
    height:1em;
    margin-right:10px;
    width:1em;
}
header.profile .other {
    color:#cc5;
}
header.profile .other::before {
    background:#cc5;
}
header.profile .head {
    border-radius:10px;
    height:8em;
    overflow:hidden;
    position:relative;
}
header.profile .head .blur {
    background:url(../images/pattern.jpg);
    left:0;
    min-height:8em;
    padding:10px;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header.profile .head .content {
    color:#ccc;
    left:0;
    line-height:2em;
    position:absolute;
    text-align:center;
    text-shadow:1px 1px 6px #000;
    top:0;
    width:100%;
}
header.profile .head .image {
    background:rgb(255,255,255);
    background:rgba(255,255,255,.4);
    background-repeat:no-repeat;
    border:1px solid #000;
    border-radius:50%;
    box-shadow:0 0 10px #333;
    height:100px;
    left:50%;
    margin-left:-50px;
    position:absolute;
    top:2em;
    width:100px;
}
header.profile .head .image a {
    color:#333;
    cursor:pointer;
    display:block;
    height:100%;
    line-height:95px;
    padding:2px;
    text-align:center;
    text-decoration:none;
    text-shadow:1px 1px 2px #fff;
    width:100%;
}
header.profile .head .image a span {
    background:#fff;
    background:rgba(255,255,255,.5);
    display:none;
    font-size:12px;
}
header.profile .head .image a:hover span {
    display:inline;
}
header.profile .head .band {
    background:rgb(0,0,0);
    background:rgba(0,0,0,.5);
    border:1px solid #333;
    border-width:1px 0;
    bottom:0;
    box-shadow:0 0 10px #333;
    font-size:.7em;
    height:2em;
    position:absolute;
    text-align:center;
    width:100%;
}
header.profile .head .band .left {
    float:left;
    padding:5px;
    text-align:left;
}
header.profile .head .band .right {
    padding:5px;
    text-align:right;
}

body > footer {
    font-size:.8em;
    padding:5px;
    text-align:right;
}



ul.listing {
    color:#666;
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.listing li {
    border-bottom:1px solid #333;
    margin:0;
    padding:0;
}
ul.listing a {
    color:#555;
    display:block;
    font-size:18px;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:1px 0 2px #000;
}
ul.listing a:active {
    background:#111;
}

.fieldsplit,
.fieldsplit > .field {
    overflow:hidden;
}
.fieldsplit > .field:first-child {
    float:left;
    width:50%;
}
.field {
    margin:0 10px 15px;
    position:relative;
}
.field label {
    display:block;
}
/*
.field input[type=radio] + label,
.field input[type=checkbox] + label {
    display:inline;
}
*/
.field input[type=tel],
.field input[type=text],
.field input[type=email],
.field input[type=password] {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    font-size:14px;
    padding:3px;
    width:100%;
}
.field button {
    border-radius:5px;
    font-size:16px;
    padding:5px 12px;
}
.loginform input[type=email],
.loginform input[type=password] {
    border:1px solid #666;
    color: #666;
    font-size:16px;
    margin:0;
    padding:8px 5px 8px 36px;
}
.loginform input[type=email] {
    background:#fff url(../images/user.gif) no-repeat;
}
.loginform input[type=password] {
    background:#fff url(../images/key.gif) no-repeat;
}
@media screen and (max-width:640px){
    .loginform button {
        background: rgb(33,33,33);
        background: -moz-linear-gradient(top, #2c2c2c, #212121 43%, #0b0b0b);
        background: -webkit-linear-gradient(top, #2c2c2c, #212121 43%, #0b0b0b);
        background: -ms-linear-gradient(top, #2c2c2c, #212121 43%, #0b0b0b);
        background: linear-gradient(to bottom, #2c2c2c, #212121 43%, #0b0b0b);
        border:#111;
        box-shadow:1px 1px 3px #333;
        color:#fff;
        margin-top:.6em;
        padding:12px;
        width:100%;
    }
}
.switch {
    border:1px solid #333;
    -webkit-border-radius:24px;
    border-radius:24px;
    height:24px;
    overflow:hidden;
    width:60px;
}
.switch input {
    display:none;
}
.switch input:checked + .slide {
    margin-left:0;
    position:relative;
}
.switch .slide {
    height:30px;
    margin-left:-36px;
    position:relative;
    -moz-transition:margin 250ms ease-out;
    -webkit-transition:margin 250ms ease-out;
    transition:margin 250ms ease-out;
    width:200px;
}
.switch .slide label {
    box-shadow:inset -5px 0 5px #333;
    color:#333;
    cursor:pointer;
    display:inline-block;
    font-size:12px;
    height:30px;
    left:0;
    line-height:24px;
    padding-right:15px;
    position:absolute;
    text-align:center;
    text-shadow:0 1px 0 #fff;
    text-transform:uppercase;
    top:0;
    width:36px;
}
.switch .slide .indicator + label {
    background:#fdd;
    left:50px;
    padding-left:10px;
}
.switch label:first-child {
    background:#ddf;
}
.switch .indicator {
    background:#ccc;
    background: -moz-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 100%);
    background: radial-gradient(ellipse at center, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 100%);
    border:1px solid #333;
    -webkit-border-radius:30px;
    border-radius:30px;
    box-shadow:0 0 3px #333;
    display:inline-block;
    height:24px;
    left:35px;
    position:absolute;
    pointer-events:none;
    top:-1px;
    width:24px;
    z-index:2;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#b5bdc8, endColorstr=#828c95)";
}


/*
form ~ .field.alternate {
    border-top:1px solid #333;
    margin-top:2em;
}
*/


/* split */

.split,
.split > * {
    overflow:hidden;
}
.split > :first-child {
    float:left;
    -webkit-transition:width 400ms;
    -moz-transition:width 400ms;
    transition:width 400ms;
    width:50%;
}
.split.flip > :first-child {
    float:right;
}
.sidenav {
    display:none;
}
.split .field + .caption {
    font-size:13px;
    max-height:60px;
    padding:15px 5px 0;
}
@media screen and (max-width:900px){
    .split,
    .split > * {
        overflow:visible;
    }
    .split > :first-child,
    .split.flip > :first-child {
        float:none;
        width:100%;
    }
    .split .field + .caption {
        padding:0 10px 25px;
    }
}
@media screen and (min-width:641px){
    .wide .split,
    .wide .split > * {
        overflow:hidden;
    }
    .wide .split > :first-child {
        float:left;
        width:50%;
    }
    .wide .split.flip > :first-child {
        float:right;
    }
}

/* header link */

.title_link {
    color:#ccc;
    font-weight:100;
    position:absolute;
    right:10px;
    text-decoration:none;
    top:10px;
    z-index:2;
}


/* side nav */

.sidenav {
    display:block;
    height:90%;
    left:0;
    overflow:hidden;
    padding:10px 5px;
    position:absolute;
    top:0;
    width:260px;
}
@-moz-document url-prefix() {
    .sidenav {
        width:275px;
    }
}
.sidenav a.nav {
    background:#4c4c4c;
    background:-moz-linear-gradient(top left, #4c4c4c, #131313);
    background:-webkit-linear-gradient(top left, #4c4c4c, #131313);
    background:-o-linear-gradient(top left, #4c4c4c, #131313);
    background:-ms-linear-gradient(top left, #4c4c4c, #131313);
    background:linear-gradient(top left, #4c4c4c, #131313);
    border:1px solid #000;
    display:inline-block;
    float:left;
    height:110px;
    margin:0 0 5px 5px;
    position:relative;
    text-align:center;
    text-decoration:none;
    width:120px;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4c4c4c, endColorstr=#131313)";
}
.sidenav a.nav .label {
    color:#fff;
    margin-top:75px;
    display:block;
}
.sidenav a.nav .image {
    height:36px;
    left:39px;
    position:absolute;
    top:25px;
    width:36px;
}
.sidenav .navsearch   .image {background-position:0 0;     }
.sidenav .navprofile  .image {background-position:0 -36px; }
.sidenav .navcontacts .image {background-position:-36px 0; }
.sidenav .navsettings .image {background-position:-36px -36px;}
.sidenav .navlogo {
    background:url(../images/navlogo.png) center center no-repeat;
    height:200px;
    opacity:0.2;
}

.body_wrapper {
    margin:0;
    position:relative;
    -webkit-transition:margin 200ms;
    -moz-transition:margin 200ms;
    transition:margin 200ms;
}
body.navopen {
    height:100%;
    overflow:hidden;
    width:100%;
}
.navopen .sidenav {
    height:100%;
    overflow:scroll;
}
.navopen .body_wrapper {
    height:100%;
    margin-left:260px;
}
.notify_heading {
    clear:both;
    color:#555;
    font-size:16px;
    margin:0;
    padding:5px;
    text-shadow:1px 0 2px #000;
}
ul.notifications {
    list-style-type:none;
    margin:0 5px;
    padding:0;
}
ul.notifications li {
    background:rgb(0,0,0);
    background:rgba(0,0,0,.7);
    color:#fff;
    font-size:14px;
    margin:2px 0;
    padding:0;
}
ul.notifications a {
    color:#ccc;
    display:block;
    font-weight:200;
    padding:10px 10px;
    text-decoration:none;
}
.notifications a:active {
    background:#111;
}
@media screen and (max-width:640px){
    .draghandle {
        background-position:-72px 0;
        height:36px;
        left:5px;
        position:absolute;
        top:0;
        width:36px;
        z-index:2;
    }
    .body_wrapper {
        width:100%;
    }
    .wide .draghandle {
        display:none;
    }
}
@media screen and (min-width:641px){
    .sidenav + .body_wrapper {
        margin-left:260px;
    }
}


.updating {
    background:#fff;
    background:rgba(255,255,255,.8);
    background-image:url(../images/updating.gif);
    background-position:center center;
    background-repeat:no-repeat;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.4);
    display:none;
    height:140px;
    left:50%;
    margin:-70px;
    position:fixed;
    top:50%;
    width:140px;
    z-index:2;
}


/* message list */

ul.message_list {
    list-style:none;
    margin:0;
    padding:0;
}
.message_list .message {
    margin:10px;
    min-height:100px;
    padding:0 110px;
    position:relative;
}
.message_list .message .image {
    border:2px solid #333;
    border-radius:50%;
    box-shadow:0 0 10px #333;
    height:100px;
    left:0;
    position:absolute;
    top:0;
    width:100px;
}
.message_list .me .image {
    left:auto;
    right:0;
}
.message_list .message .image img {
    border-radius:50%;
    height:100px;
    width:100px;
}
@media screen and (max-width:640px){
    .message_list .message {
        min-height:50px;
        padding:0;
        padding-left:60px;
    }
    .message_list .message.me {
        padding:0;
        padding-right:60px;
    }
    .message_list .message .image {
        height:50px;
        width:50px;
    }
    .message_list .message .image img {
        height:50px;
        width:50px;
    }
}
